<h1> Viewing all cards </h1>


    <div id="card-container">
        <% @cards.each do |card| %>
            <% unless card.id.to_s.start_with? "1" %>
                <% next %>
            <% end %>

        <div class="char-display-box">
            
            <div class="character-thumb"> 
                <div class="character-base">
                    <%= image_tag card.get_base_url %>
                </div>

                <div class="character-thumbnail">
                    <%= image_tag card.thumb_image_url %> 
                </div>

                <div class="character-rarity">
                    <%= image_tag card.get_rarity_url %>
                </div> 
                            
                <div class="character-type">
                    <%= image_tag card.get_type_url %>
                </div> 
            </div>

            <div class="characters-name">
                <%= link_to card.id, card %>
            </div>
            
        </div>
        
        <% end %>
        
    </div>
    
