
<h1> <%= @card.name %> </h1>

<div class="container" data-controller="eza-change"
    data-eza-change-awakenings-value="<%= @card.extreme_awakenings.to_json %>"
    data-eza-change-base-value="<%= @card.to_json %>" >


    <div id="left-container">
        <%= render 'cards/left_panel/character_art', card: @card %>

        <button data-action="click->eza-change#change_to_base"> Base</button>

        <button data-action="click->eza-change#change_to_eza" 
            data-awakening-type="0"> EZA</button>

        <button data-action="click->eza-change#change_to_eza" 
            data-awakening-type="1">no work SEZA</button>

        <%= render 'cards/left_panel/transformation_container', card: @card %>

    </div>
    

    <div class="right-container">
        <%= render "cards/right_panel/character_preview" %>

        <%= render "cards/right_panel/leader_skill", card: @card %>

        <%= render "cards/right_panel/passive_skill", card: @card %>

        <--! Additional information that a character may not have -->

        <%= render "cards/right_panel/active_skill", card: @card %>
        <%= render "cards/right_panel/stand_by", card: @card %>
        <%= render "cards/right_panel/finish_skill", card: @card %>

        <--! End -->

        <%= render "cards/right_panel/specials", card: @card %>

        <div id="links">
            <div> Links </div>
                <div> 
                    <% @card.links.each do |link| %> 
                        <%= link.name %>
                    <% end %>

                </div>
        </div>

        <div id="categories">
            <div> Categories </div>
                <div> 
                    <% @card.categories.each do |category| %> 
                        <%= category.name %>
                    <% end %>

                </div>
        </div>

    </div>

</div>
