

<div class="container" data-controller="eza-change"
    data-eza-change-awakenings-value="<%= @card.extreme_awakenings.to_json %>"
    data-eza-change-base-value="<%= @card.to_json %>" >


    <div id="left-container">
        <%= render 'cards/left_panel/character_art', card: @card %>

        <% if @card.extreme_awakenings.length > 0 %>
        <div id="optimal-awakening-routes">
            <button class ="optimal-change-button" data-action="click->eza-change#change_to_base"> 
                Base</button>

            <button class ="optimal-change-button" data-action="click->eza-change#change_to_eza" 
                data-awakening-type="0"> EZA</button>
                
                <% if @card.extreme_awakenings.length == 2 %>
                <button class ="optimal-change-button" data-action="click->eza-change#change_to_seza" 
                            data-awakening-type="1"> SEZA</button>
                <% end %>
        </div>
        <% end %>

        <%= render 'cards/left_panel/release_date', card: @card %>
            

        <%= render 'cards/left_panel/transformation_container', card: @card %>

        <%= render 'cards/left_panel/awakening_container', card: @card %>

    </div>
    

    <div class="right-container">
        <%= render "cards/right_panel/character_preview" %>

        <%= render "cards/right_panel/leader_skill", card: @card %>

        <%= render "cards/right_panel/passive_skill", card: @card %>

        <!-- Additional information that a character may not have -->

        <%= render "cards/right_panel/active_skill", card: @card %>
        <%= render "cards/right_panel/stand_by", card: @card %>
        <%= render "cards/right_panel/finish_skill", card: @card %>

        <!-- End -->
        <div data-eza-change-target="superAttack"> 
            <%= render "cards/right_panel/specials", card: @card %>
        </div>

        <template data-eza-change-target="superAttackBase">
            <%= render "cards/right_panel/specials", card: @card %>
        </template>

        <template data-eza-change-target="superAttackExtreme">
            <%= render "cards/right_panel/specials_extreme", card: @card %>
        </template>

        <template data-eza-change-target="superAttackSuperExtreme">
            <%= render "cards/right_panel/specials_super_extreme", card: @card %>
        </template>

        
        <%= render "cards/right_panel/links", card: @card %>

        <%= render "cards/right_panel/categories", card: @card %>
        
    </div>

</div>
