
<% @card.specials.each do |special| %>
    <% unless special.name.include? "(Extreme)" %>
        <div class="super-attacks">

            <div class="separate-section-header">
                <p>
                    <%= special.style %> 
                    <%=special.eball_num_start %> Ki
                    <%= special.special_category_name %>, <%= special.name %>
                </p>
            </div>

            <div class="separate-section-text">
                <div>
                    <p> 
                        <%= special.description %>
                    </p>
                    
                </div>
            
                <% unless special.special_bonus_1_lv.to_s == "0" %>
                    <div>
                       <p>
                            At level <%= special.special_bonus_1_lv %>:
                            <%= special.special_bonus_1 %>
                        </p>
                    </div>
                <% end %>   
            </div>
            
        </div>
    <% end %>
<% end %>